*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
   
   
}

.fundo{
    
    background-image: linear-gradient(#000000f6, #555555da);
    border: solid black 3px;
    

}
@media(max-width: 1600px){
.box1{
    margin-bottom: -50%;

  
  }
.nome{
    float:right;
    font-size: 80px;
    margin: 70px;
    padding: 30px;
    border-bottom: solid rgba(12, 11, 11, 0.904) 2px;
}
.frontend{
  position: relative;
    left: 70%;
    transform: translatey(140%);
}
    .img{
        width: 50%;
        position: relative;
        transform: translateY(-100%);
    }
    .seta{
    position: relative;
    left: 50%;
        margin-top: 30%;
       margin-left: 40%;
        padding-right: 25%;
       
       
    }
    .frase{
        position: relative;
    left: 60%;
    transform: translatey(1080%);
    font-size: 20px;

    }
.port{
    position: relative;
    left: 89%;
    transform: translatey(340px);
    font-size: 20px;
}
:hover .seta{
    cursor: pointer;
}
}



@media(max-width: 600px){
    .nome{
        font-size: 40px;
        margin: 30px;
        padding: 15px;
        
         border-bottom: solid rgba(233, 225, 225, 0.904) 2px;
    }
         .img{
            margin-top: -50%;
            
             }
             .frontend{
              position: relative;
                 left: 50%;
                transform: translatex(-51%);
               
                
              }
              #seta2{
             left:30%;
             cursor: pointer;
             margin-bottom: 50%;
             
            }

            .port{
                margin-bottom: 150%;
                left: 70%;
                font-size: 20px;
               
          }

          .frase{
           margin-bottom: 30%;
        left: 50%;
        font-size: 20px;
    
        }
}